@using X.PagedList
@using X.PagedList.Mvc

@{
    ViewBag.Title = "文章栏目管理";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<div class="content">
    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">@ViewBag.acPName</h1>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a data-toggle="modal" data-target="#adAdd" href="#" class="btn btn-light"><i class="fa fa-plus" aria-hidden="true">&nbsp;添加</i></a>
                @*<a href="javascript:history.back()" class="btn btn-light"><i class="fa fa-reply" aria-hidden="true"></i></a>*@
                <a href="javascript:location.reload()" class="btn btn-light"><i class="fa fa-refresh"></i></a>

            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- End Page Header -->

    <div class="container-widget">

        <!-- Start Row -->
        <div class="row">

            <!-- Start Panel -->
            <div class="col-md-12">
                <div class="panel panel-default">

                    <div class="panel-body table-responsive">

                        <table id="example0" class="table display table-hover">
                            <thead>
                                <tr>
                                    <th>标题</th>
                                    <th>栏目图片</th>
                                    <th>编辑</th>

                                </tr>
                            </thead>

                            <tbody>
                                @if (ViewBag.list != null)
                                {//--acId, acName, acImg, acPid, acOrder
                                    foreach (var list in ViewBag.list)
                                    {
                                        <tr id="@list.acId">
                                            <td> @list.acName</td>
                                            <td> @list.acImg</td>
                                            <td>
                                                <a class="btnEdit" href="#" data-id="@list.acId" data-name="@list.acName" data-img=" @list.acImg" data-order=" @list.acOrder">编辑</a>
                                                &nbsp;&nbsp;<a href="#" name="@list.acId" class="del"><span style="color:red">删除</span></a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text-center">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("ArticleList", new { page }))
                </div>
            </div>
            <!-- End Panel -->


        </div>
        <!-- End Row -->

    </div>
    <!-- END 内容部分  -->

</div>


<script>
    //删除
    $(".del").click(function () {
        if (!confirm("确认删除吗？")) return;
        var ID = $(this).attr("name");
        $.post("/Article/CDel/", { id: ID }, function (data, status) {
            $("#" + ID).remove();
            //$(success("删除成功！"));
        });
    });

    //编辑传值
    $(".btnEdit").click(function () {
        $("#acId").val($(this).data('id'));
        $("#acName").val($(this).data('name'));
        $("#acImg").val($(this).data('img'));
        $("#acOrder").val($(this).data('order'));
        $("#edEdit").modal({ show: true });
    });
    //编辑提交
    $(function () {
        $("#btn-edit-submit").click(function () {
         
                $("#edEdit").modal().hide();
                success("编辑成功！");
                setTimeout(function () { $("#form_edit").submit(); }, 1600);

        });
    });

    //添加提交
    $(function () {
        $("#btn-add-submit").click(function () {
            var acName = $("#Name").val();
            var acImg = $("#Img").val();
            var acOrder = $("#Order").val();
            if (!$.trim(acName)) {
                warning("名称不能为空！");
            } else {
                success("添加成功！");
                setTimeout(function () { $("#form_Add").submit(); }, 1600);
            }
        });
    });
</script>
<!--start Modal 编辑-->
@*<a href="#" data-toggle="modal" data-target="#edEdit" data-id="1" data-name="name1">编辑</a>*@
<div class="modal fade" id="edEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="color: #0072bc">  <i class="fa fa-pencil-square-o"></i>&nbsp;编辑内容</h4>
            </div>
            <div class="modal-body" style="text-align: left;">

                <form id="form_edit" action="/Article/GetCEdit" class="form-horizontal" method="post">
                    <input type="text" name="acId" id="acId" class="form-control" style="display: none">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-10">
                            <input type="text" name="acName" id="acName" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">栏目</label>
                        <div class="col-sm-10">
                            <select name="acPid" class="selectpicker">
                                <option value="1">新闻资讯</option>
                                <option value="1">通知消息</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片</label>
                        <div class="col-sm-10">
                            <input type="text" name="acImg" id="acImg" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">排序</label>
                        <div class="col-sm-10">
                            <input type="text" name="acOrder" id="acOrder" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="btn btn-default" id="btn-edit-submit">提交</div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!--end Modal 编辑 -->
<!--start Modal 添加-->
<div class="modal fade" id="adAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: #0072bc">  <i class="fa fa-pencil-square-o"></i>&nbsp;新建栏目</h4>
            </div>
            <div class="modal-body" style="text-align: left;">
                <form id="form_Add" action="/Article/GetCAdd?pid=@ViewBag.pid" class="form-horizontal" method="post">
                    <input type="text" name="acPid" value="@ViewBag.pid" hidden="hidden">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input type="text" name="acName" id="Name" class="form-control">
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片</label>
                        <div class="col-sm-10">
                            <input type="text" name="acImg" id="Img" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">排序</label>
                        <div class="col-sm-10">
                            <input type="text" name="acOrder" id="Order" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="btn btn-default" id="btn-add-submit">提交</div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!--end Modal 添加 -->
